:root{
    --color_blue-green: #099d8d;
    --color_aqua: #14d9c4;
    --color_cool-grey: #b8b8b9;
}
.h1{
    display: block;
    background-color: var(--color_blue-green);
    color: white;
    text-align: center;
}
.nav_menu{
    width: 100%;
}
.ul_menu{
    background-color: var(--color_aqua);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 20px;

}
.menu_li a{
    padding: 10px;
    text-decoration: none;
}
.section1{
  
   display: block;
   background-color:#ffffff;
   text-align: center;    
}
.Equipo{
    display: block;
    color: #14d9c4;
    text-align: center;

}
.text1 {
    box-sizing: border-box;
    display: block;
    color: #54585a;
    text-align: center;
  
}
.section2{
  
    display: block;
    background-color: #b8b8b9;  
}
.fortalezas {
    display: block;
    text-align: center;
    color: #099d8d;
  
}
.text2{
    display: block;
    text-align: center;
    color: #54585a;
    column-fill: auto;
}
.text3 {
    display: block;
    text-align: center;
    color:#54585a;
    column-fill: auto;

}
.debilidades {
    display: block;
    text-align: center;
    color:#099d8d;

}