// fonts
$font_rubik: 'Rubik';
$font_opensans: 'OpenSans';
$font_opensans_semibold: 'OpenSans_SemiBold';

// colors
$color_blue-green: #099d8d;
$color_aqua: #14d9c4;
$color_cool-grey: #b8b8b9;
$color_dark-grey: #54585a;
$color_black: #000000;
$color_white: #ffffff;

$padding_mobile: 15px;
$padding_table: 45px 45px 60px 44px;
$padding_desktop: 45px 138px 60px; 

//imagen_header
$supercodes_imagen: url("../images/supernenas.jpg");


