/*Pasar a SASS*/
.section1{
    display: block;
    background-color:#ffffff;
    text-align: center;    
 }
 .team_a{
     display: block;
     font-family: Rubix;
     text-transform: uppercase;
     color: var(--color_aqua);
     text-align: center;
 
 }
 .team_b{
     display: block;
     font-family: Rubix;
     text-transform: uppercase;
     color: var(--color_blue-green);
     text-align: center;
     text-transform: uppercase;
     margin: 30px 62.5px 30px 64.5px;
 font-size: 24px;
 
 }
 
 .avatar{
     margin-bottom: 50px;
 }
 
 .text1 {
     box-sizing: border-box;
     display: block;
     font-family: OpenSans;
     color: var(--color_dark-grey);
     text-align: center;
     
   
 }
 .section2{
     display: block;
     background-color: var(--color_cool-grey);  
 }
 .strenght {
     display: block;
     text-align: center;
     font-family: Rubix;
     color: var(--color_blue-green);
   
 }
 .text2{
     display: block;
     text-align: center;
     font-family: OpenSans;
     color: var(--color_dark-grey);
     column-fill: auto;
 }
 .text3 {
     display: block;
     text-align: center;
     font-family: OpenSans;
     color:var(--color_dark-grey);
     column-fill: auto;
 
 }
 .weakness {
     display: block;
     font-family: Rubix;
     text-align: center;
     color:var(--color_blue-green);
 
 }
 
 .text1 img{
     max-width: 180px;
     border-radius: 4px;
     border: solid 5px var(--color_cool-grey);
 }
 
 .text1 h3{
     display: block;
     text-align: center;
     column-fill: auto;
     font-size: 20px;
     color: black;
 }
 
 .contact{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 .contact i{
     display: flex;
     flex-direction: row;
     justify-content: center;
     color: var(--color_blue-green);
     padding: 10px;
 }
 
 .contact a {
     color: var(--color_blue-green);
 }
 .icon {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: baseline;
     text-decoration: none;
 }
 
 .icon::after{
  content: "·";
 }