.header{
  position: relative;
  background-image: $supercodes_imagen;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

  &_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Rubik;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: $color_blue-green;
    color: $color_white;
    text-transform: uppercase;
    opacity: 0.90;
  }
}

.menu{
  width: 100%;

  &_ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: center;
    width: 100%;
    height: 40px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    background-color: $color_aqua;
    opacity: 0.90;

    &_li a{      
      letter-spacing: normal;
      padding: 6px;
      line-height: 2;
      text-decoration: none;
      font-family: Rubik;
      font-size: 15px;
      color: $color_white;
      text-transform: uppercase;
    }
  }
}

.container{
  height: 45px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: $color_white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform: translateY(-50%);

  &_slogan{
    display: flex;
    font-family: OpenSans_SemiBold;
    color: $color_black;
    font-size: 24px;
  }
}


@media screen and (min-width: 738px) {
  .header{
    height: 55vh;

    &_title{
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      height: 70px;
      font-size: 20px;
      padding-left: 45px;
    }
  }
  .menu{
    float: right;
    margin-top: -70px;
    width: 60%;
    
    &_ul{
      height: 70px;
      font-size: 30px;
      padding-right: 45px;
      background-color: $color_blue-green;
      opacity: 0.90;

      &_li a{
        font-size: 20px;
        
      }
    } 
  }
  .container{
    width: 50%;
    height: 70px;
    transform: translateY(-100%);
    margin-left: 45px;
    margin-right: 0px;
    opacity: 0.70;

    &_slogan{
      font-size: 35px;
    }
  }
}

@media screen and (min-width: 1024px){
  .header{
    height: 60vh;

    &_title{
      padding-left: 120px;
    }
  }
  .menu_ul{
    padding-right: 110px;


  }
  .container{
    margin-left: 120px;
  }
}


