/*Pasar a SASS*/
*{
  
    margin: 0;
    padding: 0;

}
    
    
.containerteam {
   
    display: flex;
    background-color:white;
    justify-content: center;
    align-content: center;
    

}


.titleteam {
    display:flex;
    justify-content:space-around; 
    font-family: Rubix;
    text-transform: uppercase;
    color: aqua;
    

}

.textteam {
     
     display: inline-block;
     flex-direction: column;
     font-family: OpenSans;
     color: var(--color_dark-grey);
     text-align: center;
     width: 320px;
     height: 504px;
     padding: 30px 15px;
     background-color: var(--white);
     
   
 }



 .containerblocs{
     
     display: inline-block;
     background-color: #b8b8b9;
     width: 320px;
     height: 504px;
     padding: 30px 15px;
    
}
    
.blocs {

    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
}



 
 .titleart {

     color:#099d8d;
     align-items: center;
     margin: auto;


 }
 
 
 
 
 
 
 