/*Pasar a SASS*/
.section1{
    
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Rubix;
  
 }

 .team_a{
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: Rubix;
     text-transform: uppercase;
     color: var(--color_aqua);
     text-align: center;
 
 }
 
 .text1 {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     font-family: OpenSans;
     color: var(--color_dark-grey);
     text-align: center;
     width: 320px;
     height: 504px;
     padding: 30px 15px;
     background-color: var(--white);
   
 }
 .section2{
     display: block;
     background-color: var(--color_cool-grey); 
     width: 320px;
     height: 504px;
     padding: 30px 15px;
     background-color: var(--white); 
 }
 .strenght {
      display: flex;
     flex-direction: column;
     text-align: center;
     font-family: Rubix;
     color: var(--color_blue-green);
   
 }
 .text2{
     display: block;
     text-align: center;
     font-family: OpenSans;
     color: var(--color_dark-grey);
     column-fill: auto;
 }
 .text3 {
     display: block;
     text-align: center;
     font-family: OpenSans;
     color:var(--color_dark-grey);
     column-fill: auto;
 
 }
 .weakness {
     display: block;
     font-family: Rubix;
     text-align: center;
     color:var(--color_blue-green);
 
 }
 
 .text1 img{
     max-width: 180px;
     border-radius: 4px;
     border: solid 5px var(--color_cool-grey);
 }
 
 .text1 h3{
     display: block;
     text-align: center;
     column-fill: auto;
     font-size: 20px;
     color: black;
 }
 
 