<section id="about">
<h1 class="team_b">quiénes somos</h1>
    <div class="avatar">
      <article class="text1">
        <img src="../images/amina.jpeg" alt="avatar amina">
        <h3>Amina</h3>
        <p>¡Hola a todos! Mi nombre es Amina, aunque mucha gente me conoce como Mina. Soy una fusión de continentes y culturas y me gusta pensar en mí misma como un alma libre, sensible y tenaz. Mi superpoder es la intuición: con una sola mirada puedo captar las alegrías, las tristezas y los pensamientos de los que tengo delante. Si yo fuera un animal, sería un caballo: ¡un gran corazón para un espíritu libre e indomable!</p>
      </article>
      <nav class="contact">
        <a class="icon" href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-linkedin"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-github"></i></a>
       <a href=""><i class="fa-sharp fa-solid fa-envelope"></i></a>
      </nav>
    </div>
    <div class="avatar">
      <article class="text1">
        
        <img src="../images/carolina.jpeg" alt="avatar Carolina">
        <h3>Carolina</h3>
        <p>Me llamo Carolina y soy de Sevilla, pero Zaragoza me eligió para vivir en ella. Me encantan los animales, bailar y el deporte. Mi superpoder es la resiliencia, me adapto a los cambios y las adversidades me hacen más fuerte. SI yo fuera un animal sería un águila: ¡Siempre buscando volar más alto!. </p>
      </article>
      <nav class="contact">
        <a class="icon" href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-linkedin"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-sharp fa-solid fa-envelope"></i></a>
      </nav>
    </div>
    <div class="avatar">
      <article class="text1">
        
        <img src="../images/diany.jpeg" alt="avatar Diany">
        <h3>Diany</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptas eos nesciunt exercitationem praesentium ab voluptatem, reiciendis ducimus esse sequi nulla illo voluptates optio ratione sit repellendus sint nisi. Amet?</p>
      </article>
      <nav class="contact">
        <a class="icon" href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a  class="icon" href=""><i class="fa-brands fa-linkedin"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-sharp fa-solid fa-envelope"></i></a>
      </nav>
    </div>
    <div class="avatar">
      <article class="text1">
        
        <img src="../images/queralt.jpeg" alt="avatar Queralt">
        <h3>Queralt</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum sunt officiis, similique iusto nisi blanditiis ipsa sint in tempora dolorum id veniam vitae, iure laborum doloribus consectetur, fuga officia! Excepturi?</p>
      </article>
      <nav class="contact">
        <a class="icon" href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-linkedin"></i></a>
        <a class="icon" href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-sharp fa-solid fa-envelope"></i></a>
        </nav>
    </div> 
    