<section class="main_section_about-us">
  <h1 class="main_section_about-h1">quiénes somos</h1>
  <div class="main_section_about-div left">
    <article class="main_section_about-div-article">
      <img src="../images/amina.jpeg" alt="avatar amina">
      <div>
        <h3>Amina</h3>
        <p>¡Hola a todos! Mi nombre es Amina, aunque mucha gente me conoce como Mina. Soy una fusión de continentes y
          culturas y me gusta pensar en mí misma como un alma libre, sensible y tenaz. Mi superpoder es la intuición:
          con
          una sola mirada puedo captar las alegrías, las tristezas y los pensamientos de los que tengo delante. Si yo
          fuera un animal, sería un caballo: ¡un gran corazón para un espíritu libre e indomable!</p>
      </div>
    </article>

    <nav class="main_section_about-div-nav">
      <a class="icon" href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="icon" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
      <a class="icon" href="https://github.com/"><i class="fa-brands fa-github"></i></a>
      <a href="https://outlook.live.com/"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </nav>

  </div>
  <div class="main_section_about-div right">
    <article class="main_section_about-div-article">

      <img src="../images/carolina.jpeg" alt="avatar Carolina">
      <div>
        <h3>Carolina</h3>
        <p>Me llamo Carolina y soy de Sevilla, pero Zaragoza me eligió para vivir en ella. Me encantan los animales,
          bailar y el deporte. Mi superpoder es la resiliencia, me adapto a los cambios y las adversidades me hacen más
          fuerte. SI yo fuera un animal sería un águila: ¡Siempre buscando volar más alto!. </p>
      </div>
    </article>
    <nav class="main_section_about-div-nav">
      <a class="icon" href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="icon" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
      <a class="icon" href="https://github.com/"><i class="fa-brands fa-github"></i></a>
      <a href="https://outlook.live.com/"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </nav>
  </div>
  <div class="main_section_about-div left">
    <article class="main_section_about-div-article">

      <img src="../images/diany.jpeg" alt="avatar Diany">
      <div>
        <h3>Diany</h3>
        <p>Hola me llamo Dianelys, por ser un poco largo me llaman Diany. Soy de Cuba y hace poco más de 3 años que vivo
          en Madrid. Soy diseñadora de profesión. Amo a los animales, tengo como hobbies hacer voluntariado entrenando
          cachorros que serán futuros perros de servicio. Me encanta viajar y conocer lugares nuevos. Si fuera un animal
          seria un perro: ! lealtad y amor incondicional¡</p>
      </div>
    </article>
    <nav class="main_section_about-div-nav">
      <a class="icon" href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="icon" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
      <a class="icon" href="https://github.com/"><i class="fa-brands fa-github"></i></a>
      <a href="https://outlook.live.com/"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </nav>
  </div>
  <div class="main_section_about-div right">
    <article class="main_section_about-div-article">

      <img src="../images/queralt.jpeg" alt="avatar Queralt">
      <div>
        <h3>Queralt</h3>
        <p>Hey! Aquí Queralt, Chan para mi gente más cercana. Soy de Barcelona, aunque este año pasado decidí dar un
          salto
          al vacío y salir de mi zona de confort y el destino me llevó a la preciosa Indonesia, que es dónde resido
          actualmente. Me considero un persona alegre y muy independiente. Si yo fuera un animal, sin duda seria un
          gato:
          ¡Porque tengo 7 vidas! y porque soy curiosa, ágil e impredecible!</p>
      </div>
    </article>
    <nav class="main_section_about-div-nav">
      <a class="icon" href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="icon" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
      <a class="icon" href="https://github.com/"><i class="fa-brands fa-github"></i></a>
      <a href="https://outlook.live.com/"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </nav>
  </div>

</section>