<section>
  <div class="section1">
  <h1 class="team_a">Equipo</h1>
  <p class="text1">Las Supercodes es más que una agrupación; es un colectivo de mujeres emprendedoras que ofrece servicios de desarrollo web online y personalizado, tanto para particulares cómo empresas.

    Creamos sitios web profesionales y dinámicos, adaptados a las necesidades de cada cliente. Nuestros desarrollos se caracterizan por ser creativos, responsables e intuitivos para el usuario, asegurando una óptima funcionalidad y una buena navegación.
    Trabajamos nuestros desarrollos con diseños responsivos, es decir que se adaptan a todos los formatos de visualización, ya que cada vez son más los usuarios que visitan páginas web desde diferentes dispositivos.
    
    Nuestro equipo formado por cuatro mujeres, se caracteriza por ser versátil, adaptándonos a las diferentes necesidades de nuestros usuarios; práctico, buscamos soluciones rápidas y efectivas implementando un código limpio que mejorará la experiencia de navegación;  y la más importante, se caracteriza por ser humano, queriendo garantizar la transparencia y la buena práctica para todos sus clientes.
    
    
  </div>
</section>

<section>
  <div class="section2">
  
  <h3 class="strenght">Fortalezas</h3>
  <p class="text2"> Las supercode utilizamos la metodología Agile Scrum, basado en una comunicación constante que nos permite abordar problemas complejos a la vez que nos comprometemos a entregar al cliente un producto de una forma eficaz. Somos un equipo dinámico y cohesionado, interesado en aprender y crecer durante todo el proceso de desarrollo. </p>
  <h3 class="weakness">Debilidades</h3>
  <p class="text3"> Pese a las dificultades que pueden surgir desarrollando un trabajo online colaborativo, intentamos adaptarnos a las franjas horarias, pese a las diferentes ubicaciones de las integrantes del equipo. 
    Intentamos aprender en la mayor medida posible de nuestras compañeras durante todo el proceso ya que en cualquier grupo de trabajo, los distintos roles van marcados por las habilidades de cada persona. No todas tenemos las mismas capacidades de comprensión y la misma rapidez en la implantación del código, pero nos apoyamos las unas a las otras con el fin de mejorar.
    
     </p> 
 
</div>
